@model Retwis.Models.ProfileViewModel

<h2 class="username">@Model.Username</h2>
@if (!Model.IsMe)
{
    if (!Model.IsFollowing)
    {
        <a href="@Url.Action("Follow", new { userId = Model.UserId, username = Model.Username})" class="button">Follow this user</a>
    }
    else
    {
        <a href="@Url.Action("Unfollow", new { userId = Model.UserId, username = Model.Username })" class="button">Stop following</a>
    }
}
   
@foreach (var post in Model.Posts)
{
    <div class="post">
        <a class="username" href="profile.php?u=@post.Username">@post.Username</a>
        @post.Message<br>
        <i>posted: @(DateTime.Now - post.Time) ago via web</i>
    </div>
}
<div class="rightlink">
    @if (Model.Prev >= 0)
    {
        <a href="@Url.Action("Profile", new { username = Model.Username, start = Model.Prev })">&laquo; Newer posts</a> @(Model.Next > 0 ? " | " : "")
    }
    @if (Model.Next > 0)
    {
        <a href="@Url.Action("Profile", new { username = Model.Username, start = Model.Next })">Older posts &raquo;</a>
    }
</div>